@using System.Globalization;

<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.BlogTitle</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .post-title {
            color: #0eb0c9;
            /* 孔雀蓝 */
        }
    </style>
</head>

<body class="flex flex-col h-screen">
    <header class="border-b border-gray-200">
        <nav class="flex items-center justify-between max-w-3xl p-4 mx-auto">
            <a class="inline-flex w-10 h-10" href="/about.html">
                <img class="rounded-full" src="/images/avatar.jpg" alt="My avatar, a blue cat cartoon picture">
            </a>
            <ul class="flex space-x-5">
                <li><a href="/">Home</a></li>
                <li><a href="/posts/index.html">Blog</a></li>
                <li><a href="/about.html">About</a></li>
            </ul>
        </nav>
    </header>
    <main class="flex-grow px-6 py-24 max-w-full sm:max-w-3xl mx-auto">
        <section class="flex items-center h-full">
            <div>
                <p class="uppercase font-bold sm:text-xl">Hello 👋!</p>
                <h1
                    class="text-5xl sm:text-7xl py-3 font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-green-300 via-blue-500 to-purple-600">
                    I'm Kit Lau</h1>
                <h2 class="text-2xl sm:text-3xl text-gray-500">I'm a Software Developer.</h2>
                <div class="pt-20">
                    <h3 class="text-2xl sm:text-4xl font-bold py-2">Blog</h3>
                    <ul>
                        @foreach (var item in Model.Posts)
                        {
                            CultureInfo us = new CultureInfo("en-US");
                            string timeTitle = $"GMT {item.FrontMatter.LastUpdatedTime.ToString("yyyy/MM/dd HH:mm:ss", us)}";
                            string timeDatetime = $"{item.FrontMatter.LastUpdatedTime.ToString("yyyy-MM-dd HH:mm:ss", us)}Z";

                            <li class="pt-8 space-y-1">
                                <time class="text-sm sm:text-base" title="@timeTitle" datetime="@timeDatetime">
                                    @item.FrontMatter.LastUpdatedTime.ToString("dd MMMM yyyy", us)</time>
                                <h3 class="post-title text-2xl sm:text-4xl font-semibold py-1 hover:text-[#93d5dc]">
                                    <a href="@item.PostRoute">@item.PostTitle</a>
                                </h3>
                                <p class="text-lg sm:text-xl">@item.FrontMatter.Description
                                </p>
                            </li>
                        }
                    </ul>
                    <div class="flex pt-6 justify-center">
                        <a class="inline-block p-[2px] rounded-full bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 hover:text-white active:text-opacity-75 focus:outline-none focus:ring"
                            href="/posts/index.html">
                            <span
                                class="block px-8 py-3 text-sm sm:text-xl font-medium bg-white rounded-full hover:bg-transparent">
                                View all posts
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="flex border-t border-gray-200 bg-slate-50 items-center justify-center py-8">
        <small>&copy; Kit Lau</small>
    </footer>
</body>

</html>