@using System.Globalization;

<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.FrontMatter.Title | @Model.BlogConfig.Title</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@tailwindcss/typography@0.5.0/dist/typography.min.css" integrity="sha256-Xxn/RmOEU63MeoONufwgAmCmNVOxkzQJyP604j/3QqU=" crossorigin="anonymous">
    <style>
        .prose h1 {
            color: #0eb0c9; /* 孔雀蓝 */
        }
    </style>
</head>

<body class="flex flex-col h-screen">
    <header class="border-b border-gray-200">
        <nav class="flex items-center justify-between max-w-3xl p-4 mx-auto">
            <a class="inline-flex w-10 h-10" href="/about.html">
                <img class="rounded-full" src="/images/avatar.jpg" alt="My avatar, a blue cat cartoon picture">
            </a>
            <ul class="flex space-x-5">
                <li><a href="/">Home</a></li>
                <li><a href="/posts/index.html">Blog</a></li>
                <li><a href="/about.html">About</a></li>
            </ul>
        </nav>
    </header>
    <main class="flex-grow px-6 py-12 sm:py-24 max-w-full sm:max-w-3xl mx-auto">
        @{
            CultureInfo us = new CultureInfo("en-US");
            string timeTitle = $"GMT {@Model.FrontMatter.LastUpdatedTime.ToString("yyyy/MM/dd HH:mm:ss", us)}";
            string timeDatetime = $"{@Model.FrontMatter.LastUpdatedTime.ToString("yyyy-MM-dd HH:mm:ss", us)}Z";
        }
        <time class="text-sm sm:text-base" title="@timeTitle" datetime="@timeDatetime">Last updated: @Model.FrontMatter.LastUpdatedTime.ToString("dd MMMM yyyy", us)</time>
        <article class="pt-6 prose prose-headings:font-bold prose-table:border-separate prose-table:border prose-table:overflow-hidden prose-table:border-black prose-table:rounded-lg prose-thead:bg-black prose-th:text-white prose-th:py-2 prose-th:px-4 prose-tr:border-y-0 even:prose-tr:bg-gray-100 prose-td:py-2 prose-td:px-4 prose-blockquote:border prose-blockquote:border-black prose-blockquote:p-8 prose-blockquote:text-xl prose-blockquote:rounded-lg prose-blockquote:leading-10 prose-p:text-black prose-p:leading-loose prose-lead:leading-relaxed marker:prose-li:text-black prose-li:text-black prose-li:font-medium prose-a:text-pink-600 prose-a:decoration-wavy prose-a:font-medium hover:prose-a:text-indigo-600 prose-img:border prose-img:border-black prose-img:p-4 prose-img:rounded-lg prose-img:bg-pink-100 prose-pre:bg-black prose-pre:text-white prose-pre:text-base prose-pre:leading-loose">
            @Model.PostContent
        </article>
    </main>
    <footer class="flex border-t border-gray-200 bg-slate-50 items-center justify-center py-8">
        <small>&copy; Kit Lau</small>
    </footer>
</body>

</html>