@using System.Globalization;

<!DOCTYPE html>
<html lang="zh-cn">
$HEAD_PLACEHOLDER
<body>
    $HEADER_PLACEHOLDER
    <main>
        <section>
            @foreach (var item in Model.ContentModel.AllPosts)
            {
                CultureInfo us = new CultureInfo("en-US");
                string timeTitle = $"GMT {item.FrontMatter.LastUpdatedTime.ToString("yyyy/MM/dd HH:mm:ss", us)}";
                string timeDatetime = $"{item.FrontMatter.LastUpdatedTime.ToString("yyyy-MM-dd HH:mm:ss", us)}Z";
                string tags = "<b><a>" + string.Join("</a></b>&nbsp;<b><a>", item.FrontMatter.Tags) + "</a></b>";

                <div>
                    <h2><a href="@item.Route">@item.FrontMatter.Title</a></h2>
                    <time class="text-sm sm:text-base" title="@timeTitle" datetime="@timeDatetime">
                        @item.FrontMatter.LastUpdatedTime.ToString("dd MMMM yyyy", us)
                    </time>
                    <p>@item.FrontMatter.Description</p>
                    @tags
                </div>
                <br />
            }
        </section>
    </main>
    $FOOTER_PLACEHOLDER
    $SCRIPT_PLACEHOLDER
</body>
</html>